/* Контейнер */
.container {
	margin: auto;
	padding: 0 15px;
	width: 1200px;
}


/* Блоки */
.section {
	position: relative;
	display: inline-block;
	padding: 60px 100px;
	width: 100%;

	&--whith-shadow {
		background-color: $gray;
		box-shadow: 0 0 40px rgba(0,0,0,.35);

		&:before {
			position: absolute;
			top: 60px;
			right: 0;
			transform: translateX(70%) rotate(90deg);
	  	transform-origin: left top;
			color: $green;
			font-family: 'Oswald Light';
			font-size: 2rem;
			letter-spacing: .1em;
			opacity: .5;
			content: "since 2014";
		}
	}

	&__wrap {
		padding-bottom: 95px;
	}
}


/* Списки */
.unlist {
	list-style: none;
}


/* Кнопки */
.btn {
	display: inline-block;
	border-radius: 25px;
	padding: 20px 55px;
	background-color: $green;
	font-size: .7777rem;
	line-height: 1em;
	letter-spacing: .03em;
	text-align: center;
	text-transform: uppercase;
	transition: border-radius .3s ease-in;

	&:hover {
		border-radius: 0;
	}
}


/* Эффекты */
@keyframes drag {
	0% {
		transform: translateX(0);
	}
	33% {
		transform: translateX(-5px);
	}
	66% {
		transform: translateX(5px);
	}
	100% {
		transform: translateX(0);
	}
}

// Покачивание при наведении
.drag:hover {
	animation-name: drag;
	animation-duration: .5s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
}