@import 'variables.scss';
@import 'foundation.scss';
body { background-color: $darkGray; }
@import 'basic.scss';


/* Шапка */
@import 'blocks/header.scss';
.header {
	background-color: transparent;
}


/* Главный экран */
.main-display {
	background-image: url(../../img/main-dispay-bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&__meeting {
		padding: 165px 0;
	}

	&__title {
		position: relative;
		margin: 0 auto;
		margin-bottom: 40px;
		padding-bottom: 45px;
		width: 650px;
		color: $white;
		font-size: 2.6666rem;
		line-height: 1.5em;
		letter-spacing: .05em;
		text-transform: uppercase;
		text-align: center;

		&:after {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 255px;
			height: 3px;
			background-color: $green;
			content: "";
		}
	}

	&__text {
		margin: 0 auto;
		margin-bottom: 40px;
		width: 645px;
		text-align: center;
	}
}


/* Раздел "О нас" */
.about {

	&__left,
	&__right {
		float: left;
	}

	&__left {
		width: 41%;
	}

	&__text-block {
		margin-bottom: 60px;
	}

	&__head {
		margin-bottom: 25px;
		font-family: 'Oswald Regular';
		font-size: 2rem;
		letter-spacing: .03em;
		line-height: 1em;
	}


	&__right {
		position: relative;
		width: 59%;
	}

	&__play-video {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}


/* Раздел "Услуги" */
.services {
	padding: 120px 0;
	background-image: url(../../img/main-services-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	
	&__slider {
		margin-right: 50px;
		margin-bottom: 80px !important;
		margin-left: 50px;
		padding: 30px 0;

		&_slide {
			position: relative;
			padding: 0 30px;
			height: 200px;
			transition: transform .5s .1s ease;

			&-img {
				position: relative;
				z-index: 1;
				padding: 0 30px;
				height: 100%;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;

				&:before {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					z-index: -1;
					background-color: rgba(0,0,0,.7);
					content: "";
					opacity: 0;
					transition: opacity .5s .1s;
				}
			}

			&-inner {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				height: 100%;
			}

			&-head,
			&-text {
				text-align: center;
			}

			&-head {
				margin-bottom: 20px;
				font-family: 'Oswald Regular';
				font-size: 1.1111rem;
				letter-spacing: .05em;
				opacity: 0;
				transition: opacity .5s .5s;
			}

			&-divider {
				margin: 0 auto;
				margin-bottom: 15px;
				width: 0;
				height: 2px;
				background-color: $green;
				transition: width .5s 1s ease;
			}

			&-text {
				color: $lightGray;
				font-size: .8888rem;
				opacity: 0;
				transition: opacity .5s .5s;
			}
		}
	

		/* модификация слайдера */
		// слайды
		.slick-list {
			padding: 30px;
		}

		// переключатели
		.slick-dots {
			top: 50%;
			right: -50px;
			bottom: auto;
			transform: translateY(-50%);
			width: auto;

			li {
				display: block;
				margin: 10px 0;

				button {
					position: relative;

					&:before {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						border: 2px solid $lightGray;
						border-radius: 50%;
						width: 8px;
						height: 8px;
						color: transparent;
						content: "";
						opacity: .7;
					}
				}

				&.slick-active button:before {
					border: 0;
					background-color: $green;
					opacity: 1;
				}
			}
		}
		
		// анимация
		.slick-current {
			transform: scale(1.15);

			.services__slider_slide-inner {
				transform: scale(.85);
			} 

			.services__slider_slide-img {
				box-shadow: 0 0 15px rgba(0,0,0,.55);
			}

			.services__slider_slide-img:before,
			.services__slider_slide-head,
			.services__slider_slide-text {
				opacity: 1;
			}

			.services__slider_slide-divider {
				width: 50%;
			}
		}
	}
}


/* Раздел "Этапы реализации проектов" */
.stages {
	
	&__slider {
		position: relative;
		margin-right: 25px;
		margin-bottom: 0 !important;
		margin-left: 25px;

		&:before {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 100%;
			height: 1px;
			background: radial-gradient($green 90%, transparent);
			content: "";
			opacity: .4;
		}

		&_slide {
			display: flex !important;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			padding: 0 40px;
			height: 140px;

			&--inv {
				flex-direction: column-reverse;
			}

			&-stage {
				margin: 10px 0;
				border: 1px solid $green;
				border-radius: 50%;
				width: 35px;
				height: 35px;
				color: $green;
				line-height: 30px;
				text-align: center;
			}

			&-dot {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				border-radius: 50%;
				width: 14px;
				height: 14px;
				background-color: $green;
				opacity: .7;
			}

			&-text {
				font-family: 'Open Sans Light';
				font-size: .8888rem;
				text-align: center;
			}
		}
	}

	/* Стилизация слайдера */
	.slick-arrow {
		width: auto;
		height: auto;

		&:before {
			display: inline-block;
			width: 16px;
			height: 27px;
			background-image: url(../../img/icons/arrow.png);
			content: "";
			opacity: .4;
		}

		&.slick-next:before {
			transform: rotate(180deg);
		}

		&.slick-disabled {
			opacity: .25;
		}

		&:not(.slick-disabled):hover:before {
			opacity: .6;
		}
	}


	&__divider {
		margin: 70px 0;
		height: 1px;
		background: repeating-linear-gradient(90deg, $white, $white 40px, transparent 40px, transparent 80px);
	}


	&__list {
		display: flex;
		justify-content: space-between;
		margin: 0 -15px;

		&_item {
			padding: 0 30px;
			width: 25%;

			&-img {
				display: flex;
				align-items: center;
				justify-content: center;
				margin-bottom: 20px;
			}

			&-head,
			&-text {
				text-align: center;
			}

			&-head {
				margin-bottom: 20px;
				font-family: 'Oswald Regular';
				font-size: 1.2222rem;
				letter-spacing: .05em;
				text-transform: uppercase;
			}

			&-text {
				color: $lightGray;
				font-family: 'Open Sans Light';
				font-size: .8888rem;
			}
		}
	}
}


/* Раздел "Наши проекты" */
.projects {
	padding: 120px 0;
	background-image: url(../../img/main-projects-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&__list {
		display: flex;
		justify-content: space-between;
		margin-right: 70px;
		margin-bottom: 70px;
		margin-left: 70px;

		&_item {
			display: inline-block;
			padding: 0 10px;
			width: 33.3333%;
			cursor: pointer;

			&-head {
				font-family: 'Oswald Regular';
				font-size: 2rem;
				line-height: 1em;
				letter-spacing: .05em;
				text-align: center;
			}

			&-info {
				position: relative;
				margin-bottom: 30px;
				//height: 370px;

				img {
					float: left;
				}
			}

			&-inner {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				padding: 0 40px;
				background-color: rgba(0,0,0,.85);
				text-align: center;
				opacity: 0;
				transition: all .4s ease; 

				&:before {
					margin: 0 auto;
					margin-bottom: 20px;
					width: 0;
					height: 2px;
					background-color: $green;
					content: "";
					transition: all .3s .4s ease;
				}
			}

			&:hover &-inner {
				opacity: 1;

				&:before {
					width: 40%;
				}
			}
		}
	}
}


/* Раздел "Наши партнеры" */
.partners {

	&__list {
		display: flex;
		justify-content: space-between;

		&_item {
			position: relative;

			&-logo {
				transition: all .2s .1s ease-in;

				&--hover {
					position: absolute;
					top: 0;
					left: 0;
					opacity: 0;
					transition: all .3s ease-in;
				}
			}

			&-link:hover &-logo {
				//opacity: 0;

				&--hover {
					opacity: 1;
				}
			}
		}
	}
}


/* Раздел "Отзывы" */
.recalls {
	background-image: url(../../img/main-recalls-bg.jpg);

	&__list {
		padding: 60px 0;
	}
}


/* Подвал */
@import 'blocks/footer.scss'; 