@import 'variables.scss';
@import 'foundation.scss';
@import 'basic.scss';

/* Шапка */
@import 'blocks/header.scss';

.recalls {
	background-image: url(../../img/recalls-bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	
	&__title {
		margin-bottom: 110px;
		border-right: 2px solid $green;
		padding-right: 80px;
		width: calc(50% - 1px);
	}

	&__list {
		&-row {
			display: flex;
			margin-right: -15px;
			margin-bottom: 90px;
			margin-left: -15px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__item {
		position: relative;
		padding: 0 10px;
		width: 33.3333%;

		&-inner {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 100%;
			background-color: $darkGray;
		}

		&-main {
			padding: 85px 50px 0 50px;
		}

		&-photo {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	
		&-title {
			position: relative;
			padding-bottom: 15px;

			&:after {
				display: block;
				border-bottom: 3px solid $green;
				width: 60px;
				height: 15px;
				content: "";
			}
		}

		&-name {
			margin-bottom: 10px;
		}

		&-date {
			font-size: 0.6666rem;
		}

		&-text {
			color: $lightGray;
			font-family: 'Open Sans Light';
			font-size: 0.8888rem;
		}

		&-social {
			display: flex;
			justify-content: center;
			margin-top: 30px;
			border-top: 1px solid $lightGray;
			padding: 20px 50px;

			&-link {
				display: flex;
				align-items: center;
				flex-direction: column;
				padding: 0 10px;
				color: $lightGray;
				font-size: 0.6666rem;
			}
		}
	}
}

/* Подвал */
@import 'blocks/footer.scss'; 