.footer {
	padding: 45px 30px;
	display: flex;
	justify-content: space-between;

	&__left,
	&__right {
		width: 315px;
	}

	&__same-blocks {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 45px;
	}

	&__brand-wrap {
		justify-content: flex-start;
	}

	&__nav {
		display: inline-block;
		margin-top: 30px;

		&-item,
		&-link {
			line-height: 26px;
		}

		&-link {
			color: $lightGray;
			font-family: 'Open Sans Light';
			font-size: .8888rem;

			&:hover {
				border-bottom: 1px solid $lightGray;
			}
		}
	}

	&__social {
		padding-top: 8px;
		text-align: center;

		&-link {
			display: inline-block;
			margin: 0 10px;
		}
	}

	&__copyright {
		margin-top: 160px;
		font-family: 'Open Sans Light';

		&:before {
			color: $green;
			content: "© ";
		}

		&-years {
			font-family: 'Open Sans Regular';
		}
	}

	&__right {
		&-text {
			color: $lightGray;
			margin-bottom: 20px;
		}
	}
}